  
  .box {
    border: 1px solid black;
    margin: 0 10px; /* Add some space between boxes */
    padding: 20px 10px;
    /* Remove position absolute and related properties */
    background-color: #fff; /* Optional: set background color */
  }
  
  .connectPoint {
    opacity: 0.2;
  }
  
  .connectPoint:hover {
    opacity: 0.6;
  }
  